<ng-container *ngIf="route.children.length === 0">
    <app-title />

    <div *ngIf="data?.intro">
        {{ data.intro }}
        <br />
        <br />
    </div>

    <ng-container *ngFor="let child of children; let i = index">
        <app-menu-item [name]="child.title || ''" [path]="child.path" [data]="child.data || {}" [selected]="selectedIndex === i + 1" />
    </ng-container>

    <ng-container *ngFor="let item of data?.toggleItems">
        <app-toggle-item [item]="item" />
    </ng-container>

    <ng-container *ngIf="data?.list">
        <app-list [list]="data.list || []" [listType]="data.listType" />
    </ng-container>

    <br />
    <div>===========</div>
    <br />
    <div *ngIf="showBack">
        <a routerLink=".."> &lt; BACK </a>
    </div>
</ng-container>
<router-outlet></router-outlet>
