@if (!hasChildren) {
  <app-title />
  @if (destruct() !== '') {
    <div class="error">
      Self destructing in {{ destruct() }}<br />
      Please gather all valuables and proceed calmly to your exit vehicle.
      <br />
      <br />
    </div>
  }
  @if (data?.intro) {
    <div [ngClass]="{ error: data.introWarning }">
      @for (item of introChain; track item) {
        <div>{{ item() }}</div>
      }
      <br />
    </div>
  }
  @for (child of children; track child; let i = $index) {
    <app-menu-item
      [name]="child.title || ''"
      [path]="child.path"
      [data]="child.data || {}"
      [selected]="selectedIndex === i + 1"
      />
  }
  @for (item of data?.toggleItems; track item; let i = $index) {
    <app-toggle-item [item]="item" [selected]="selectedIndex === i + 1" />
  }
  @if (data?.list) {
    <app-list [list]="data.list || []" />
  }
  <br />
  <div>===========</div>
  <br />
  @if (showBack) {
    <div>
      <a [ngClass]="{ selected: selectedIndex === items.length + 1 }">
        &lt; BACK
      </a>
    </div>
  }
}
<router-outlet></router-outlet>
