@import "simple-keyboard/build/css/index.css";

body {
    background: #2f2f2f;
    color: #fd9300;
    font-family: "VT323", "Courier New", Courier, monospace;
    font-size: 24px;
}
a,
a:visited {
    color: #fd9300;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    background: rgb(92, 92, 92);
}
.menu-item {
    text-transform: uppercase;
}
.error {
    color: #ff5454;
}
a:hover.error {
    background: #7a1b1b;
}


.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

