/* You can add global styles to this file, and also import other style files */
body {
  background: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
a, a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    background: rgb(92, 92, 92);
}
.menu-item {
    text-transform: uppercase;
}
.error {
    color: #ff5454;
}
a:hover.error {
    background: #7a1b1b;
}
ul.unordered {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.ordered {
    list-style: decimal-leading-zero;
    margin: 0;
}
